<% if user_signed_in? %>
  <li class="nav-item">
    <%= link_to('Logout', logout_path, class: "nav-link", method: :delete) %>
  </li>
<% else %>
  <li class="nav-item">
    <%= link_to('Login', 'auth/auth0', method: :post, class: "nav-link") %>
  </li>
<% end %>
