<nav class="navbar navbar-fixed-bottom navbar-dark bg-inverse">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-xs-center">
        <%= link_to site_title, root_path %>
        &middot;
        <%= link_to "Fork this Project on GitHub", github_repo, target: "_blank" %>
      </div>
    </div>
  </div>
</nav>
