<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Signup/Login</h4>
      </div>
      <div class="modal-body">
        <p class="lead">You need to be logged in to create your first listing!</p>
        <%= link_to('Login/Register', '/auth/auth0', method: :post, class: "btn btn-large btn-primary") %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
