<div class="content-well">
  <div class="row">
    <div class="col-xs-9">
      <h2><%= link_to post.title, post %></h2>
      <h3><%= post.company_name %></h3>
      <h4><%= post.location %></h4>
    </div>
    <div class="col-xs-3">
      <%= post.posted %>
    </div>
  </div>
</div>
