<div class="row">
  <div class="col-xs-4">

  </div>
  <div class="col-xs-8">
    <%= link_to "Preview", preview_post_path(@post), class: "btn btn-inverse pull-xs-right" %>
    <h1>Editing post</h1>
  </div>
</div>

<%= render 'form' %>
