<%= render(partial: @posts) || render_hero_suggestion %>
<% content_for :sidebar do %>
  <div class="content-well p-x-2 p-y-2">
    <span><%= @settings.fetch('sidebar.cta_helper') %></span>
    <%= link_to 'New Post', new_post_path, class: "btn btn-block btn-large #{@settings.fetch('sidebar.cta_btn') || 'btn-info'}" %>
  </div>
<% end %>
